@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'roboto-italic';
    src: url(../fonts/Roboto-Italic.ttf);
}

:root {
    --background-dark: #1f2937;
    --background-light: #3882F6;
    --background-light-grey: #E5E7EB;
    --text-light: #F9FAF8;
}

* {
    margin: 0;
}

.body-content {
    padding: 4em 10em 6em 10em;
}

.dark {
    background-color: var(--background-dark);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 10em;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

nav {
    margin-top: auto;
    margin-bottom: auto;
}

figure {
    margin: 0em;
    width: 9em;
    height: auto;
}

figcaption {
    text-align: center;
    font-family: 'roboto';
    font-size: 16px;
    color: var(--background-dark);
    margin-top: 0;
    margin-bottom: 5px;
}

.main {
    display: flex;
    justify-content: center;
}

.main-content {
    flex: 1;
}

.placeholder {
    width: 30em;
    height: auto;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figures {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.illustration {
    width: 9em;
    height: 9em;
    border: 3px solid var(--background-light);
    border-radius: 10%;
    margin: 0 auto;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-light-grey);
}

.qoute-figure {
    width: 60%;
    margin: 4em 0;
}

.qoute {
    font-family: 'roboto-italic';
    font-weight: lighter;
    font-size: 36px;
    color: var(--background-dark);

}

.qouter {
    width: 80%;
    text-align: right;
    margin-top: 0;
    margin-right: 5em;
    margin-bottom: 0;
    font-family: 'roboto';
    font-size: 24px;
    font-weight: bolder;
    color: var(--background-dark);

}

.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-light);
    border-radius: 10px;
    margin: 5em 15em;
}

footer {
    display: flex;
    justify-content: center;
}

.footer-content {
    margin: 2em 0 2em 0;
}

h1 {
    font-family: 'roboto';
    font-size: 48px;
    font-weight: bolder;
    color: var(--text-light);
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    font-family: 'roboto';
    font-size: 24px;
    color: var(--text-light);
}

p, a {
    font-family: 'roboto';
    font-size: 18px;
    color: var(--background-light-grey);
    margin-top: 0;
    margin-bottom: 5px;
}

a {
    margin: 0 1em;
}

h2 {
    font-family: 'roboto';
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

h5 {
    font-family: 'roboto';
    font-size: 20px;
    color: var(--text-light);
    margin: 2em 0 0 0;
}

.sign-up {
    margin-bottom: 2em;
}

button {
    background-color: #3882F6;
    height: fit-content;
    border-radius: 10px;
    border-style: none;
    
}

.button-outline {
    
    border: 2px solid var(--background-light-grey);
}

h6 {
    font-family: 'roboto';
    font-size: 16px;
    color: var(--text-light);
    margin: 5px 1em 5px 1em;
}